@keyframes mz-animation-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes mz-animation-pop {
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes mz-animation-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}