@use 'vars' as vars;
@use 'vars-v2' as vars-v2;
@use 'mixin/mz-text-size' as mz-text-size;
@use 'mixin/mz-animation' as mz-animation;
@use 'mixin/mz-placeholder' as mz-placeholder;

//==================================================
// enterprise-update-info-modal
//==================================================
.enterprise-update-info-modal {
  .modal-dialog {
    width: 360px;
  }
}

//==================================================
// modal-body
//==================================================
// .location-type-select-item
//==================================================
.enterprise-update-info-modal {
  .enterprise-modal-inner {
    position: relative;

    .loading-box {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(#fff, 0.5);
      left: 0;
      top: 0;
      z-index: vars.$mz-z-index-lv-1;

      .loading-icon {
        font-style: normal;
        @include mz-animation.mz-animation-spin();

        &::before {
          @include mz-text-size.mz-text-size(24px);
          color: vars.$mz-gray;
          content: "\f110";
          font-weight: 700;
          font-family: vars.$mz-font-family-fa5;
        }
      }
    }
  }

  .modal-body {
    padding-bottom: 0;
  }
}

//==================================================
// .enterprise-box
//==================================================
.enterprise-update-info-modal {
  .enterprise-box {
    padding: 12px 16px;
    margin: 0 -16px;
    border-top: 1px dashed;
    border-bottom: 1px dashed;
    background: vars-v2.$secondary-200;
    border-top-color: vars-v2.$secondary-300;
    border-bottom-color: vars-v2.$secondary-300;

    &.is-empty {
      background: vars.$mz-gray-lightest;
      border-top-color: vars.$mz-gray-light;
      border-bottom-color: vars.$mz-gray-light;
      padding: 0 16px;

      .box-head {
        margin: 0 -16px;
      }

      .box-title {
        display: none;
      }
    }
  }

  .vat-code-field-outer {
    .error-label {
      font-size: 1.5rem;
      color: vars-v2.$state2-500;
      margin-top: 8px;
    }
  }

  .vat-code-field {
    display: inline-flex;
    border-radius: 4px;
    border: 1px solid vars.$mz-gray-light;
    overflow: hidden;
    background: #ffffff;
    width: 100%;

    &.is-error {
      border-color: vars-v2.$state2-500;
    }

    .field-title-col {
      border-right: 1px solid vars.$mz-gray-light;
      padding: 6px 12px;
      white-space: nowrap;
    }

    .field-input-col {
      padding: 0 16px;
      flex: 1 1;
    }

    .field-input {
      border: none;
      height: 100%;
      width: 100%;

      @include mz-placeholder.placeholder {
        color: vars.$mz-gray;
      }
    }
  } // .vat-code-field
}

//==================================================
// form control stype
//==================================================
.enterprise-update-info-modal {
  .label-col-inline {
    display: flex;
    align-items: center;

    .checkbox-col {
      position: relative;
      margin-left: auto;
      top: -2px;
    }

    .mz-state-control__inner {
      padding-left: 0;
      padding-right: 16px;
    }

    .mz-state-control__label {
      @include mz-text-size.mz-text-size-from-font-size-key('sm');
      margin-left: 0;
      margin-right: 8px;
      color: vars.$mz-primary;
    }

    .mz-state-control__icon {
      left: auto;
      right: 0;
    }
  }

  .sub-label {
    @include mz-text-size.mz-text-size-from-font-size-key('xs');
    color: vars.$mz-gray-dark;
  }

  .correct-address-input {
    height: 64px;
    min-height: 64px;
  }
}

//==================================================
// modal-footer
//==================================================
.enterprise-update-info-modal {
  .modal-foot {
    padding-top: 0;
    border-top: none;
    flex-wrap: wrap;

    .foot-control-group {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }

    .close-modal-btn {
      cursor: pointer;
    }

    .remove-btn {
      border: none;
      color: vars.$mz-danger;
      cursor: pointer;

      &.disabled-btn {
        opacity: 0.3;
        cursor: default;
      }
    } // .remove-btn
  }
}