@use 'mixin/is-loading' as is-loading;

.request-quotation-modal {
  .modal-dialog {
    max-width: 500px;
  }

  &__request-quotation-form {
    position: relative;

    &.is-loading {
      &::before {
        content: '';
        @include is-loading.beforeIsLoading;
      }
    }
  }
}