@use 'vars' as vars;
@use 'mixin/mz-text-size' as mz-text-size;
@use 'mixin/mz-general' as general;
@use 'function/mz/mz-color' as mz-color;

//=====================================
// related product block
//=====================================
.related-product-block {}

//=====================================
// related product wrap
//=====================================
.related-product-block {
  .product-item-wrap {
    margin-top: -16px;
    max-height: 180px;
    overflow: hidden;
    transition: vars.$mz-transition-time-xs ease;

    &.is-expand {
      max-height: 360px;
    }
  }

  .product-item-outer {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0 8px;
  }

  .product-item {
    display: flex;
    background: #ffffff;
    border: solid 1px vars.$mz-gray-lighter;
    border-radius: 8px;
    padding: 8px;
    margin-top: 16px;

    &:hover {
      .title-label {
        color: mz-color.mz-get-hover-color(vars.$mz-gray-darker);
      }
    }
  }

  .product-img-col {
    position: relative;
    flex: 0 0 56px;
    margin-right: 8px;

    &:before {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: 100%;
    }
  }

  .product-img-outer {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
  }

  .product-info-col {
    flex: 1 1;
  }

  .title-label {
    @include mz-text-size.mz-text-size-from-font-size-key('xs');
    @include general.mz-limit-text-line('xs', 3);
    color: vars.$mz-gray-darker;
  }
}

//=====================================
// product btn group
//=====================================
.related-product-block {
  .product-btn-group {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }

  .view-more-btn {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: vars.$mz-primary;

    &:hover {
      color: mz-color.mz-get-hover-color(vars.$mz-primary);
    }

    &.is-collapse {
      .view-more-label {
        display: none;
      }

      .collapse-label {
        display: inline-block;
      }

      .view-more-icon-shape {
        display: none;
      }

      .collapse-icon-shape {
        display: inline-block;
      }
    }
  } // view-more-btn

  .view-more-label,
  .collapse-label {
    font-weight: 700;
    margin-right: 4px;
  }

  .collapse-label {
    display: none;
  }

  .collapse-icon-shape {
    display: none;
  }
}