.home-sub-kozy-page {
  .home-sub-article-section {
    .content-col{
      min-width: 0;
    }

    .title{
      font-size: 15px;
      white-space: nowrap;
    } 

    .desc{
      font-size:12px;
    }
  }
}