.user-block--change-password {
  .user-block__input-form {
    width: 412px;
    margin: 0 auto;
    padding-top: 8px;

    .user-block__form-group__lbl-col {
      flex: 0 0 160px;
    }

    .user-block__button-submit {
      display: flex;
      justify-content: center;
    }
  }
}// .user-block--change-password