.today-deals-bner-section {
  position: relative;
  text-align: center;
  overflow: hidden;

  .bner-field {
    margin: 0 auto;
    max-width: 1920px;
    text-align: center;
  }
}// .today-deals-bner-section