@use 'vars' as vars;

.prime-coming-soon-section {
  height: 584px;
  position: relative;
  overflow: hidden;
  background: #0296d6;
  z-index: vars.$mz-z-index-lv-1;

  .bner-field {
    text-align: center;
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .bner-img {
    height: 100%;
    width: auto;
    max-width: none;
  }
}