@use 'vars' as vars;
@use 'mixin/mz-text-size' as mz-text-size;
@use 'function/mz/mz-color' as mz-color;
@use 'mixin/mz-border-radius' as mz-border-radius;

.user-block--favorite-product {
  padding: 16px 16px 0;
  background: #fff;
  @include mz-border-radius.mz-border-radius(8px);
  box-shadow: 0 0 4px 0 rgba(vars.$mz-gray, 0.2);

  a {
    color: vars.$mz-gray;


    &:hover {
      color: vars.$mz-link-color;
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
  }

  &__head-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-right: 8px;
  }

  &__img-field {
    height: 60px;
    width: 60px;
  }

  &__block-body {
    margin: 0 -16px;
  }

  &__manage-body {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }

  &__manage-item {
    padding: 16px;
    border-bottom: 1px solid vars.$mz-gray-lighter;
    font-weight: 600;
  }

  &__item-title {
    padding: 16px;
    color: vars.$mz-gray;;
    font-weight: 700;
    text-align: center;

    background: rgba(vars.$mz-gray-lighter, 0.2);
    border-top: 1px solid vars.$mz-gray-lighter;
    border-bottom: 1px solid vars.$mz-gray-lighter;
    width: 100%;
  }


  .user-block__data-tb {

    .user-block {
      &__img-td {
        width: 70px;
      }

      &__data-tb__img-field {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        background: #fff;
        border-radius: 4px;
      }

      &__data-tb__product-img {
        max-width: 50px;
        max-height: 50px;
      }

      &__product-info-td {
        text-align: left;

        a {
          // color: vars.$mz-text-body-color;
          color: vars.$mz-gray;


          &:hover {
            color: vars.$mz-link-color;
          }
        }
      }
    }
  } // &__data-tb.-favorite-product
}// .user-block--favorite-product