@use 'vars' as vars;
@use 'mixin/mz-text-size' as mz-text-size;

.prime-share-modal {
  .modal-dialog {
    width: 480px;
  }

  .modal-content {
    background: none;
    border: 0;
    border-radius: 16px;
    box-shadow: 0 8px 24px -8px rgba(vars.$mz-gray-light, 0.4), 0 0 8px 0 rgba(#000, 0.16);
  }

  .modal-head {
    display: flex;
    align-items: center;
    height: 80px;
    background: url(vars.$mz-image-url + '/page/prime-day/prime-share-modal-head-bg@2x.jpg') no-repeat bottom left;
    background-size: auto 80px;
    border-radius: 16px 16px 0 0;
    position: relative;
    z-index: 2;
  }

  .head-icon-shape {
    display: flex;
    align-self: flex-end;
    margin: 0 24px -8px 16px;
  }

  .head-icon-img {
    height: 72px;
  }

  .modal-title {
    @include mz-text-size.mz-text-size(24px);
    font-weight: 700;
    color: #fff;
  }

  .close-btn {
    background: transparent;
    height: 32px;
    width: 32px;
    display: flex;
    padding: 0;
    border: 0;
    align-items: center;
    justify-content: center;
    margin: 0 24px 0 auto;
    border-radius: 4px;

    &:hover {
      background: rgba(#fff,0.2);
    }
  }

  .modal-body {
    background: #fff;
    border-radius: 0 0 16px 16px;
    padding: 24px;
  }
}// .prime-share-modal








/* ------------------
  Note segment
--------------------- */
.prime-share-modal {
  .note-segment {
    margin: -24px -24px 16px;
    padding: 12px 24px;
    border-bottom: 1px dashed vars.$mz-primary-light;
    background: linear-gradient(to right, #fff, vars.$mz-primary-lightest);
    @include mz-text-size.mz-text-size-from-font-size-key('sm');
  }// .note-segment
}








/* ------------------
  Option segment
--------------------- */
.prime-share-modal {
  .option-segment {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;

    .option-col {
      min-width: 0;
      display: flex;
    }

    .option-card {
      width: 100%;
      border-radius: 8px;
      border: 1px solid vars.$mz-gray-light;
      padding: 16px 14px;
      text-align: center;
      color: vars.$mz-gray-dark;
      cursor: pointer;

      &:hover {
        color: vars.$mz-primary;
        border-color: vars.$mz-primary;
        background-color: vars.$mz-primary-lightest;
      }
    }

    .icon-shape {
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .option-icon {
      font-size: 32px;
      line-height: 1;
    }

    .title {
      margin-top: 8px;
      font-weight: 700;
    }
  }// .option-segment
}// .prime-share-modal







/* ------------------
  Url segment
--------------------- */
.prime-share-modal {
  .url-segment {
    margin-top: 16px;

    .copy-btn {
      width: 100%;
      padding: 0 2px;
    }
  }// .url-segment
}// .prime-share-modal







/* ------------------
  Success segment
--------------------- */
.prime-share-modal {
  .success-segment {
    margin-top: 24px;
    text-align: center;

    .img-field {
      margin-bottom: 20px;

      .bonus-img {
        height: 112px;
      }
    }

    .content {
      @include mz-text-size.mz-text-size(16px);
      font-weight: 700;
    }
  } // .success-segment
}// .prime-share-modal