@use 'lib/mz-grid-framework/mixin/mz-media-query' as mz-media-query;

.noel-code-section {
  margin-bottom: 32px;
}

/* ##############################################################
  Section body
################################################################# */
.noel-code-section {
  .discount-code-row-outer {
    max-width: 1000px;
    margin: 0 auto;

    @include mz-media-query.mz-media-breakpoint-up('3xl') {
      max-width: 1200px;
    }
  }

  .discount-code-item {
    cursor: pointer;
  }
}