@use 'mixin/mz-general' as general;

$video-width: 800px;
$video-height: 450px;

.fado-video-modal {
  .modal-dialog {
    margin: 0 auto;
    max-width: $video-width;
  }

  .modal-content {
    position: relative;
  }

  .close-btn {
    position: absolute;
    right: 0;
    bottom: 100%;
    height: 32px;
    width: 32px;
    display: flex;
    background: transparent;
    border: 0;
    @include general.mz-fix-event-click();
    font-size: 18px;
    line-height: 1;
    color: rgba(#fff,0.8);
    justify-content: center;
    align-items: center;
  }

  .video-iframe {
    width: 100%;
    height: $video-height;
  }
}// .bner-center-modal