@use 'vars' as vars;
@use 'vars-v2' as vars-v2;
@use 'mixin/mz-text-size' as mz-text-size;
@use 'mixin/mz-animation' as mz-animation;
@use 'lib/mz-grid-framework/mixin/mz-media-query' as mz-media-query;

.forgot-password-modal {
  .modal-dialog {
    width: 370px;
  }

  .mz-basic-modal__head {
    display: flex;
    align-items: center;
    border-bottom: 1px solid vars.$mz-gray-lighter;
  }

  .mz-basic-modal__body {
    position: relative;
  }

  .mz-form-group__control-col {
    margin-top: 8px;
  }

  .mz-form-control__input {
    width: 100%;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid vars-v2.$secondary-300;
    outline: none;
    height: 40px;
    background: #fff;
  }

  .loading-block {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: vars.$mz-primary-dark;
    z-index: 30;
    opacity: 0.5;
    background: #fff;
  }

  .forgot__btn-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .forgot-password-finish-modal {
    &__step-panel {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      position: relative;

      &::before {
        content: "\f063";
        font-weight: 500;
        font-family: vars.$mz-font-family-fa5;
        font-size: 20px;
        line-height: 26px;
        height: 26px;
        bottom: -28px;
        width: 20px;
        text-align: center;
        left: 30px;
        position: absolute;
        color: vars.$mz-danger;
      }

      &:last-child {
        margin-bottom: 0;

        &::before {
          content: none;
        }
      }
    }

    //#region - icon col
    &__icon-col {
      flex: 0 0 80px;
      min-width: 1px;
      margin-right: 15px;
    }

    &__icon-field {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: vars.$mz-danger;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 36px;
      line-height: 42px;
    }
    //#endregion

    //#region - info col
    &__info-col {
      flex: 1 1;
    }

    &__step-panel__title {
      font-weight: 500;
      color: #f44336;
      margin-bottom: 3px;
    }
    //#endregion
  }

  .fail-message-text {
    color: vars-v2.$state2-500;
    font-weight: bold;
  }

  .control-fail {
    margin-top: 16px;
    text-align: center;
  }
}