@use 'vars' as vars;
@use 'vars-v2' as vars-v2;
@use 'mixin/mz-text-size' as mz-text-size;
@use 'mixin/mz-animation' as mz-animation;
@use 'lib/mz-grid-framework/mixin/mz-media-query' as mz-media-query;

$tmp-border-color: #eee;

.login-register-modal {
  .modal-dialog {
    width: 370px;
  }

  .mz-basic-modal__body {
    position: relative;
    padding: 0;
  }

  .mz-form-group__control-col {
    margin-top: 8px;
  }

  .mz-form-control__input {
    width: 100%;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid vars-v2.$secondary-300;
    outline: none;
    height: 40px;
    background: #fff;
  }

  .loading-block {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: vars.$mz-primary-dark;
    z-index: 30;
    opacity: 0.5;
    background: #fff;
  }

  .auth-block {
    &__form-col{
      border-radius: 12px;
      padding: 24px 32px;
    }

    &__bner-col {
      flex: 0 0 50%;
      min-width: 1px;
      background: #f4f5f6 url(vars.$mz-image-url + '/bg/auth-block-bg.jpg' + vars.$mz-cache-ver-suffix) no-repeat center top;
      padding: 370px 20px 30px;
    }

  }

  // ===================================
  // Form col
  // ===================================
  .auth-block {
    &__form-col__body {
      padding-top: 15px;
    }
  }

  // Menu list
  // ------------------Xác nhận mật khẩu
  .auth-block {
    &__login-with-segment {
      margin-top: 15px;
    }

    &__logo-fado {
      list-style: none;
      display: flex;
      justify-content: center;
    }

    &__logo-field {
      display: inline-flex;
      width: 222px;
    }

    &__logo-img {
      width: 222px;
      height: 70px;
    }

    &__menu-list {
      list-style: none;
      display: flex;
      height: 40px;
      border-bottom: 1px solid $tmp-border-color;
      margin-top: 16px;

      li {
        flex: 1 1;
        text-align: center;
        border-right: 1px solid $tmp-border-color;
        position: relative;

        &:last-child {
          border-right: 0;
        }
      }

      a {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        line-height: 22px;
        color: #999;
        text-transform: uppercase;
        font-weight: 600;
        &:hover {
          color: vars.$mz-link-color;
        }
      }

      li.is-active {
        a {
          color: vars.$mz-link-color;
        }
      }
    }// &__menu-list
  }// .auth-block

  // Auth form
  // ------------------
  .auth-block {
    &__form {
      position: relative;

      .mz-form-group{
        margin-bottom: 8px;
       }
    }

    &__form.is-loading {
      pointer-events: none;

      &::before {
        content: '';
        z-index: 5;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#fff,0.7);
        background-repeat: no-repeat;
        background-image: url(vars.$mz-loading-image-url);
        background-position: center;
      }
    }

    &__form-group {
      margin-bottom: 15px;
      display: flex;
    }

    &__form-group__icon-col {
      flex: 0 0 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      line-height: 26px;
      color: #999;
    }

    &__form-group__info-col {
      flex: 1 1;
    }

    &__btn-group {
      text-align: center;
      margin-top: 8px;
    }
  }// .auth-block

  // Login with segment
  // ------------------
  .auth-block {
    &__login-with-segment__title {
      text-align: center;
      position: relative;
      color: #999;
      margin-bottom: 15px;

      &::before {
        content: '';
        width: 100%;
        top: 50%;
        margin-top: -0.5px;
        height: 1px;
        background: $tmp-border-color;
        position: absolute;
        left: 0;
      }
    }

    &__login-with-segment__title-inner {
      display: inline-block;
      position: relative;
      z-index: 2;
      padding: 0 10px;
      background: #fff;
    }

    &__social-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 34px;
      color: vars.$mz-text-body-color;
      font-size: 13px;
      border: 1px solid #e1e1e1;
      border-radius: 30px;

      i {
        margin-right: 5px;
        font-size: 16px;
      }

      // &.-fb {
      //   color: #315caf;

      //   &:hover {
      //     color: #fff;
      //     background: #315caf;
      //     border-color: #315caf;
      //   }
      // }

      // &.-gp {
      //   color: #ea3731;

      //   &:hover {
      //     color: #fff;
      //     background: #ea3731;
      //     border-color: #ea3731;
      //   }
      // }
    } // &__social-btn

    &__alert-register-field {
      text-align: center;
      margin-top: 15px;
    }

    //btn-login
    &__login-btn{
      width: 100%;
      max-width: 256px;
    }

    &__register-btn{
      width: 100%;
      max-width: 256px;
    }

  }// .auth-block

  .user-register-form-outer {
    margin: 0 auto;

    @include mz-media-query.mz-media-breakpoint-up('sm') {
      margin: 0 40px;
    }
  }

  .user-register-form {
    position: relative;

    .captcha-reset-icon {
      @include mz-text-size.mz-text-size(18px);
    }
  }

  .register-form-label {
    color: vars.$mz-gray-dark;
  }

  .captcha-input {
    @include mz-text-size.mz-text-size-from-font-size-key('xs');

    @include mz-media-query.mz-media-breakpoint-up('xxs') {
      @include mz-text-size.mz-text-size-from-font-size-key('md');
    }
  }

  .user-register-form-group {
    margin-bottom: 24px;

    &.--last-user-inut {
      margin-bottom: 12px
    }
  }

  .user-register-btn-outer {
    text-align: center;
  }

  .register-captcha-img {
    border: 1px solid vars.$mz-gray-lighter;
    width: 78px;
  }

  .user-register-btn {
    width: 100%;
    max-width: 256px;
  }
}
