.landing-tet-sum-vay-page {
  background: #ffffff;
  border: solid 1px;

  .section-wrapper {
    background: #ededed;
  }

  .home-sub-article-section {
    background: #ffffff;
    margin: 0;
    padding: 40px 0;
  }

  .article-card .card-inner {
    padding: 24px 10px 0;

  }
}
