@use 'vars' as vars;
@use 'mixin/mz-border-radius' as mz-border-radius;
@use 'mixin/mz-box-shadow' as mz-shadow;

.cart-product-section {
  margin-bottom: 16px;

  .section-inner {
    background: #fff;
    @include mz-shadow.mz-shadow-from-key('sm');
    @include mz-border-radius.mz-border-radius-from-key('md');
  }

  &:last-child {
    margin-bottom: 0;
  }
}



// Section head
// ------------------
.cart-product-section {
  .section-head {
    display: flex;
    align-items: center;
    border-bottom: 1px solid vars.$mz-gray-lighter;

    // CHECK CONTROL COLUMN
    .check-col {
      padding: 16px;
      line-height: 10px; // Fix bị vượt height của mz-check-control phía trong
      display: flex;
      align-items: center;
    }

    // TITLE COLUMN
    .title-col {
      margin-left: -4px;
      padding: 12px 16px 12px 0;

      &:first-child {
        margin-left: 0;
        padding-left: 16px;
      }
    }

    .title-segment {
      display: flex;
      align-items: center;
      color: vars.$mz-text-body-color;

      .icon-shape {
        width: 28px;
        flex: 0 0 28px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 4px;
      }

      .direction-icon-shape {
        margin-left: 12px;
      }
    }// .title-segment

    a.title-segment {
      &:hover {
        color: vars.$mz-link-color;
      }
    }

    // CONTROL COLUMN
    .control-col {
      margin-left: auto;

      &:last-child {
        margin-right: 16px;
      }
    }

    .remove-all-btn {
      height: 34px;
      color: vars.$mz-danger;
      background: none;
      border: 0;
      padding: 0;
    }
  }// .section-head
}// .cart-product-section



