@use 'vars' as vars;
@use 'mixin/mz-text-size' as mz-text-size;
@use 'function/mz/mz-color' as mz-color;
@use 'mixin/mz-border-radius' as mz-border-radius;

.user-block--request-quotation {

  padding: 16px 16px;
  background: #fff;
  @include mz-border-radius.mz-border-radius(8px);
  box-shadow: 0 0 4px 0 rgba(vars.$mz-gray, 0.2);

  &__submit {
    justify-content: center;
    align-items: center;
    padding-top: 16px;
  }

  &__head-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-right: 8px;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
  }

  &__block-body {
    margin: 0 -16px;
  }

  &__manage-body {
    display: grid;
    grid-template-columns: repeat(4, auto);
  }

  &__manage-item {
    padding: 16px;
    border-bottom: 1px solid vars.$mz-gray-lighter;
  }

  &__item-title {
    padding: 16px;
    color: vars.$mz-gray;
    font-weight: 700;

    background: rgba(vars.$mz-gray-lighter, 0.2);
    border-top: 1px solid vars.$mz-gray-lighter;
    border-bottom: 1px solid vars.$mz-gray-lighter;
    width: 100%;
  }

  &__item-title--number {
    padding: 16px;
    color: vars.$mz-gray;
    font-weight: 700;
    text-align: center;
    background: rgba(vars.$mz-gray-lighter, 0.2);
    border-top: 1px solid vars.$mz-gray-lighter;
    border-bottom: 1px solid vars.$mz-gray-lighter;
    width: 100%;
  }


  &__btn-wrap {
    margin-top: 15px;
    text-align: center;

    .my-btn {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}// .user-request-quotation-block

// ===================================
// Data table
// ===================================
.user-block--request-quotation {
  .user-block {
    &__img-td {
      width: 70px;
    }

    &__data-tb__img-field {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      background: #fff;
      border-radius: 4px;
    }

    &__data-tb__product-img {
      max-width: 50px;
      max-height: 50px;
    }

    &__product-info-td {
      text-align: left;

      a {
        color: vars.$mz-text-body-color;

        &:hover {
          color: vars.$mz-link-color;
        }
      }
    }

    &__quantity-td {
      width: 110px;
    }
  }
} // .user-block__data-tb.-request-quotation

.btn-delete {
  padding-top: 8px;
}