.home-landing-page {
  background: #fff;

  .section-wrapper {
    background: #ededed;
  }

  .home-sub-article-section {
    background: #fff;
    margin: 0;
    padding: 40px 0;
  }

  .article-card .card-inner {
    padding: 24px 10px 0;
  }
}
