@use 'vars' as vars;

//=============================================
// user layout
//=============================================
.user-layout {
  padding-bottom: 24px;

  &__sidebar-col {
    flex: 0 0 234px;
    position: relative;
    padding-right: 16px;
    margin-right: 24px;

    &::before {
      position: absolute;
      content: '';
      display: block;
      width: 1px;
      height: 100%;
      background: vars.$mz-gray-lighter;
      top: 0;
      right: 0;
    }
  }

  &__main-col {
    flex: 1 1;
  }
}

//=============================================
// user container
//=============================================
.user-container {
  display: flex;
}