@use 'vars' as vars;

.lunar-new-year-page {
  background: #f9b226;
}

.lunar-new-year-flower-left {
  position: absolute;
  left: 0;
  top: 900px;
}

.lunar-new-year-flower-right {
  position: absolute;
  right: 0;
  top: 900px;
}

.lunar-new-year-bottom-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1100px;
  width: 100%;
  background: url(vars.$mz-upload-url + '/page/lunar-new-year-page/bottom-bg.png' + vars.$mz-cache-ver-suffix) no-repeat top center;
}