.lunar-new-year-page {
  .today-deals-header-section {
    color: #6f121d;

    .country-item  {
      color: #6f121d;

      &:hover {
        color: #bd2032;
      }
    }
  }// .today-deals-header-section
}
