@use 'sass:math';
@use 'vars' as vars;
@use 'vars-v2' as vars-v2;

.product-box {
  position: relative;
  height: 100%;
  padding: 12px;
  background: #fff;
  border-radius: 4px;
} // .product-box

//#region - countdown tag
// ==========================
.product-box {
  &__countdown-tag {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 70px;
    height: 70px;
    overflow: hidden;
    pointer-events: none;
  }

  &__countdown-tag__inner {
    position: absolute;
    top: 26px;
    left: 26px;
    width: 120px;
    height: 22px;
    margin-top: -11px;
    margin-left: -60px;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    background: #f4f4f4;
    color: #ff6f00;
    transform: rotate(-45deg);
  }
} //#endregion - coutdown tag

//#region - ship 24h tag
// ==========================
.product-box {
  &__ship-24h-tag {
    position: absolute;
    left: 5px;
    top: 3px;
    pointer-events: none;
    z-index: 2;
    background: url(vars.$mz-image-svg-url + '/ship-24h-grd.svg' + vars.$mz-cache-ver-suffix) no-repeat center;
    background-size: contain;
    width: 36px;
    height: 36px;
  }
}

//#region - sale tag
// ==========================
.product-box {
  &__sale-tag {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    height: 28px;
    padding: 0 5px 0 10px;
    background: vars-v2.$state2-400;
    border-radius: 0 4px 0 10px;
    pointer-events: none;
  }
} //#endregion - sale tag

//#region - Image field
// ==========================
.product-box {
  &__img-field {
    position: relative;
    display: block;
    width: 100%;

    &:before {
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    &:hover {
      .product-box__product-img {
        opacity: .8;
      }
    }
  } // &__product-img-field

  &__img-field__inner {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  &__product-img {
    max-width: 100%;
    max-height: 100%;
  }
} //#endregion - .product-box

//#region - meta field
// ==========================
.product-box {
  &__meta-field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    padding: 1px 0;
    color: #999;
    font-size: 11px;
    line-height: 13px;
    white-space: nowrap;
    text-align: center;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
  }

  &__meta-field__col-1 {
    position: relative;
    flex: 1 1;
    min-width: 1px;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: -.5px;
      width: 1px;
      height: (30px - 10px);
      margin-top: - math.div(30px - 10px, 2);
      background: #e1e1e1;
    }
  } // &__meta-field-col-1

  &__meta-field__col-2 {
    flex: 1 1;
    min-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;

    .svg {
      vertical-align: middle;
      margin-right: 3px;
    }
  }

  &__meta-star {
    font-size: 9px;
  }

  &__meta-comment {
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
  }
} //#endregion - me field

//#region - product title
// ==========================
.product-box {
  &__product-title {
    height: 18px * 2;
    min-height: 18px * 2;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    margin-bottom: 0;
    font-weight: normal;

    a {
      color: vars.$mz-text-body-color;
      transition: 3s;
      transition-timing-function: linear;
      transition-property: transform;
      will-change: transform;

      &:hover {
        color: vars.$mz-link-color;
      }
    }

    &:hover {
      text-overflow: initial;
    }
  } // &__product-title
} //#endregion - product tile

//#region - price
// ==========================
.product-box {
  &__price-field {
    display: flex;
    align-items: baseline;
    width: 100%;
    height: 22px;
    margin: 5px 0 2px;
    line-height: 22px;
    white-space: nowrap;
    position: relative;
    z-index: 2;
  }

  &__curr-price {
    font-family: vars.$mz-font-family-oswald;
    color: #FF6F00;
    font-size: 16px;

    a {
      color: #FF6F00;

      &:hover {
        color: vars.$mz-link-color;
      }
    }
  }

  &__old-price {
    padding-left: 15px;
    color: #999;
    font-size: 12px;
    font-family: vars.$mz-font-family-oswald;
    text-align: right;
    text-decoration: line-through;
  }

  &__price-alert {
    color: #999;
    font-size: 12px;
    font-style: italic;
    line-height: 16px;
    height: 16px;
  }
} //#endregion - price field

//#region - buy status
// ==========================
.product-box {
  &__buy-status {
    position: relative;
    height: 5px;
    margin-top: 10px;
    overflow: hidden;
    background: #ededed;
    border-radius: 30px;
    // display: none;
  }

  &__buy-status__inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: darken(#ededed, 6%);
  }

  &__buy-quantity {
    margin-top: 5px;
    color: #999;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    // display: none;
  }
} //#endregion - price field


// =============================================
//#region - Product box loading price
// ==========================
.product-box.is-loading-price {
  .product-box__price-field {
    .product-box__curr-price,
    .product-box__old-price {
      opacity: 0.2;
    }

    &::before {
      content: '\f110';
      font-family: vars.$mz-font-family-fa5;
      position: absolute;
      left: 50%;
      width: 30px;
      text-align: center;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -15px;
      top: 5px;
      z-index: 3;
      font-size: 24px;
      line-height: 28px;
      animation: fa-spin 1.8s infinite linear;
      color: lighten(#999,5%);
    }
  }

  .product-box__price-alert {
    opacity: 0.2;
  }
}

// =============================================
// Is banned product
// =============================================
.product-box {
  &.is-banned {
    .product-box {
      &__img-field {
        opacity: 0.2;
        pointer-events: none;
      }

      &__product-title {
        pointer-events: none;
      }
    }// &.is-banned

    a {
      pointer-events: none;
    }

    &:hover {
      cursor: not-allowed;
    }
  }// &.is-banned
}// .product-box