//=====================================
// feedback page
//=====================================
.feedback-page {
  background: #ffffff;

  .fancybox-image {
    background-color: #ffffff;
  }

  .header-section {
    transform: none;

    &.headroom--unpinned {
      transform: none;
    }
  }
}