.tech-awards-gift-modal {
  .modal-dialog {
    width: 360px;
  }

  .modal-content {
    border-radius: 10px;
  }

  .modal-header {
    margin-bottom: 15px;
  }

  &__icon-field {
    position: absolute;
    width: 120px;
    height: 120px;
    bottom: 0;
    left: 50%;
    margin-left: -60px;
  }

  &__desc {
    text-align: center;
    margin-bottom: 5px;
  }

  &__gift {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  &__btn-wrap {
    text-align: center;

    .my-btn {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}// .tech-awards-gift-modal