@use 'vars' as vars;

.category-page {
  .mz-layout__pagination {
    &.is-search-page {
      display: flex;
      align-items: baseline;
      justify-content: center;

    }

    .category-view-more-link {
      color: vars.$mz-gray-dark;
      font-weight: 600;
      margin-right: auto;

      &:hover {
        color: vars.$mz-primary;
      }

      i {
        margin-left: 4px;
      }
    }
  }
}

.category-page-title {
  margin-bottom: 16px;
  font-size: 32px;

  .title {
    margin-bottom: 0;
    display: inline;
    font-size: inherit;
  }
}