@use 'vars' as vars;
@use 'mixin/mz-text-size' as mz-text-size;

.category-parent-section {
  .category-parent {
    &__wrapper {
      display: flex;
      flex-wrap: nowrap;
    }

    &__visible-list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &__item {
      @include mz-text-size.mz-text-size(16px);
      color: vars.$mz-gray;
      font-weight: 600;
      margin-right: 16px;
      margin-bottom: 0;
      padding: 16px 0;

      &:hover {
        color: vars.$mz-primary;
      }
    }
  }
}